# Ignore all log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Environment variables - PASSWORDS, API KEYS, etc
.env

# -------------------------------------------------------- Quarto presentation

# Ignore Quarto temporary files
.quarto-cache/
.quarto-work/
/.quarto/

# Ignore Quarto output files
docs/

# -------------------------------------------------------- Javascript frontend

# Dependency directories
node_modules/
# Output directories
dist/
build/

## -------------------------------------------------------- Python backend
# virtualenv
/backend/.venv/
# build
/backend/interaktiv_server.egg-info
# testing
/backend/.pytest_cache
# cache, bytecode, etc
__pycache__/
*.py[cod]