[flake8]
# Ignore the site-packages directory
exclude = .git, __pycache__, build, dist, .venv, env, venv, ENV, site-packages

# Ignore line length errors (E501) and other specific warnings
ignore = E501, W503, W504, E101, E111, E112, E113, E121, E122, E123, E124, E125, E126, E127, E128, E129, E131, E133, E201, E202, E203, E211, E221, E222, E223, E224, E225, E226, E227, E228, E231, E241, E242, E251, E261, E262, E265, E266, E271, E272, E273, E274, E275, E301, E302, E303, E304, E305, E306,W293,W291


# Customize the max line length if you prefer a different length (optional)
max-line-length = 120

# If you have other directories or files you want to exclude, add them here
